# --- Python / Backend ---

# Ambiente Virtual
venv/
.venv/
env/
*.env

# Arquivos de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de banco de dados local
*.sqlite3
*.db

# --- Node.js / Frontend ---

# Dependências
node_modules/

# Arquivos de build e cache
dist/
.vite/

# Logs e arquivos de debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# --- Geral (IDE e Sistema Operacional) ---

# Arquivos de configuração de IDEs
.vscode/
.idea/

# Arquivos de sistema
.DS_Store
Thumbs.db

# --- Arquivos Sensíveis ---
.env